<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="4.1.0" targetFramework="net46" />
  <package id="DynamicLanguageRuntime" version="1.2.3" targetFramework="net46" />
  <package id="Fody" version="6.0.0" targetFramework="net46" developmentDependency="true" />
  <package id="IronPython" version="2.7.10" targetFramework="net46" />
  <package id="LibGit2Sharp" version="0.26.2" targetFramework="net46" />
  <package id="LibGit2Sharp.NativeBinaries" version="2.0.306" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net452" />
</packages>